node_modules/
www/
android/.gradle/
android/build/
android/app/build/
android/capacitor-cordova-android-plugins/build/
ios/App/Pods/
ios/App/build/
.DS_Store
.env
*.keystore
*.jks
*.p12
android/keystore.properties
